{
	"title": "get-os",
	"name": "@barrymichaeldoyle/get-os",
	"homepage": "https://www.barrymichaeldoyle.com",
	"description": "A helper that returns the current user's operating system. Eg. \"Windows\", \"Linux\", \"Android\", \"MacOS\", \"iOS\" etc.",
	"license": "MIT",
	"browsers": true,
	"author": "Barry Michael Doyle <barry@barrymichaeldoyle.com> (https://www.barrymichaeldoyle.com)",
	"maintainers": [
		"Barry Michael Doyle <barry@barrymichaeldoyle.com> (https://www.barrymichaeldoyle.com)"
	],
	"repository": {
		"type": "git",
		"url": "https://github.com/BarryMichaelDoyle/get-os.git"
	},
	"bugs": {
		"url": "https://github.com/BarryMichaelDoyle/get-os/issues"
	},
	"badges": {
		"list": [
			"nodeico",
      "---",
      "travisci",
			"npmversion",
			"npmdownloads",
			"githubfollow",
			"githubstar",
			"daviddm",
		],
		"config": {
			"githubUsername": "BarryMichaelDoyle"
		}
	}
}