{
	"title": "GUID",
	"name": "@iplatformglobal/guid",
	"homepage": "https://www.iplatform.com",
	"description": "Array helper for soring array object on multiple key values with ordering",
	"license": "MIT",
	"browsers": true,
	"author": "2017+ iPlatform <software@iplatform.co.za> (https://www.iplatform.com)",
	"maintainers": [
		"Barry Michael Doyle (barry@barrymichaeldoyle.com) (https://www.barrymichaeldoyle.com)"
	],
	"repository": {
		"type": "git",
		"url": "https://github.com/iPlatformGlobal/guid.git"
	},
	"bugs": {
		"url": "https://github.com/iPlatformGlobal/guid/issues"
	},
	"badges": {
		"list": [
			"nodeico",
      "---",
      "travisci",
			"npmversion",
			"npmdownloads",
			"githubfollow",
			"githubstar",
			"daviddm",
		],
		"config": {
			"githubUsername": "iPlatformGlobal"
		}
	}
}